<MudGrid>
    <MudItem xs="12">
        <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-2">
            <MudCard Elevation="0">
                <MudCardHeader Class="d-flex align-center justify-center mud-width-full">
                    <MudImage Src="https://www.seekpng.com/png/detail/5-50932_lotus-flower-silhouette-at-getdrawings-lotus-flower-logo.png" Width="200" Height="100" Alt="Swedish Farm House" Elevation="25" Class="rounded-circle ma-4" />
                </MudCardHeader>
                <MudCardContent style="font-family: 'Righteous', cursive;">
                    <MudText style="font-family: 'Righteous', cursive;" Class="d-flex align-center justify-center mud-width-full"><h2>Hansi Lotas Mart</h2></MudText>
                    <MudText style="font-family: 'Righteous', cursive;" Class="d-flex align-center justify-center mud-width-full">What ever the occasion , our flowers will make it special .</MudText>
                    <MudText style="font-family: 'Righteous', cursive;" Class="d-flex align-center justify-center mud-width-full">+94 643 154 5611 .|. HLotes@gmail.com  .|. Pannala </MudText>
                </MudCardContent>
                <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full py-2">
                    <MudAvatar  Variant="Variant.Filled" Class=" ma-4">
                        <i class="gg-facebook"></i>
                    </MudAvatar>
                    <MudAvatar Variant="Variant.Filled" Class=" ma-2">
                        <MudIcon Icon="@Icons.Custom.Brands.YouTube"></MudIcon>
                    </MudAvatar>
                    <MudAvatar Variant="Variant.Filled" Class=" ma-2">
                        <MudIcon Icon="@Icons.Custom.Brands.GitHub"></MudIcon>
                    </MudAvatar>
                    <MudAvatar Variant="Variant.Filled" Class=" ma-2">
                        <MudIcon Icon="@Icons.Custom.Brands.Vimeo"></MudIcon>
                    </MudAvatar>
                </MudItem>
            </MudCard>

        </MudPaper>
    </MudItem>

    @*<MudItem xs="3">
    <MudContainer>
    <MudPaper Elevation="0" Class="d-flex align-center justify-center mud-width-full py-8">
    <MudCard>
    <MudImage Src="/images/Employee/EmptyVetor.jpg" Width="200" Height="200" Class="rounded-lg ma-4" />
    <MudCardContent>
    <MudText Class="d-flex align-center justify-center mud-width-full"> <b>Name</b> </MudText>
    <MudText Class="d-flex align-center justify-center mud-width-full">Position</MudText>
    </MudCardContent>
    </MudCard>
    </MudPaper>
    </MudContainer>
    </MudItem>*@
</MudGrid>

@code {

}
